.item {
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;


  .img {
    grid-column: 1/3 ;
    grid-row: 1;
  }

  &-title {
    grid-column: 1/3 ;
    grid-row: 2;
  }

  &-description {
    grid-column: 1/3 ;
    grid-row: 3;
  }

  &-price { 
    grid-column: 1/2 ;
    grid-row: 4;
  }

  &-rating {
    grid-column: 2/3 ;
    grid-row: 4;
  }

  &-button {
    grid-column: 1/3 ;
    grid-row: 5;
  }
}